version: '3.3'

services:
   mysql:
        image: mariadb:latest
        restart: always
        environment:
          MYSQL_ROOT_PASSWORD: MyDBRoot123
          MYSQL_DATABASE: together
          MYSQL_USER: php
          MYSQL_PASSWORD: php
        networks:
          - mynet
   myredis:
        image: redis:latest
        networks:
          - mynet
        restart: always
   myphp:
        build:
          context: .
          dockerfile: ./src/php/dockerfile
        depends_on:
          - mysql
          - myredis
        restart: always
        volumes:
          - ./src/:/var/www/html
        ports:
          - "9000"
        networks:
          - mynet
   mynginx:
        image: nginx
        ports:
          - "8181:80"
        volumes:
          - ./src/nginx.ini:/etc/nginx/conf.d/default.conf
          - ./src/:/var/www/html
          - ./src/php-fpm.conf:/etc/php/7.4/fpm
          - ./src/www.conf:/etc/php/7.4/fpm/pool.d
        depends_on:
          - myphp
        restart: always
        networks:
          - mynet
   phpMyAdmin:
        image: phpmyadmin:latest
        restart: always
        ports:
          - "8082:80"
        environment:
          PMA_HOST: mysql
          PMA_ARBITRARY: 1
        depends_on:
          - myphp
        networks:
          - mynet
          
volumes:
  src: {}
  nginx.ini: {}
  php-fpm.conf: {}
  www.conf: {}



networks:
    mynet:
        driver: bridge


